<form>
  <label>Student Form:</label><br>
  <input type="text" id="student_form" name="student[form]"><br>
 
  <label>Student description:</label><br>
  <textarea id="student_first_name" name="student[first_name]"></textarea><br>
  <textarea id="student_last_name" name="student[last_name]"></textarea><br>
  <input type="submit" value="Submit Student">
</form>
 
<%= params.inspect %>

